 <!-- main contant -->         
 <div class="admin-content"> 
  <!-- navbar -->             
  <nav class="uk-navbar"> 
      <div class="uk-navbar-left"> 
          <ul class="uk-navbar-nav"> 
                                      
              <li> 
                  <a href="admin-edite-profile.html">Edit profile</a> 
              </li>                         
          </ul>                     
      </div>                 
      <!-- right navbar  -->                 
      <div class="uk-navbar-right"> 
          <!-- User profile -->                     
          <a href="#"> 
              <img src="../assets/images/avatures/avature-2.png" alt="" class="uk-border-circle user-profile-tiny"> 
          </a>                     
          <div uk-dropdown="pos: top-right ;mode : click ;animation: uk-animation-slide-bottom-small" class="uk-dropdown uk-padding-small angle-top-right uk-dropdown-bottom-right" > 
              <p class="uk-margin-remove-bottom uk-margin-small-top uk-text-bold"> Hamse Mohamoud  </p>                                          
              <ul class="uk-nav uk-dropdown-nav"> 
                  <li> 
                      <a href="Profile.html"> <i class="fas fa-user uk-margin-small-right"></i> Profile</a> 
                  </li>                                             
                  
    <li class="uk-nav-divider"></li>                                             
                  <li> 
                      <a href="admin-login.html"> <i class="fas fa-sign-out-alt uk-margin-small-right"></i> Log out</a> 
                  </li>                                             
              </ul>                                         
          </div>                     
      </div>                 
  </nav>             
        <div class="admin-content-inner">           
      <div class="uk-margin-medium"> 
          <div uk-grid> 
              <div class="uk-width-1-2@m"> 
                  <div class="uk-card-small uk-card-default"> 
                      <div class="uk-card-header uk-text-bold">
                          <i class="fas fa-envelope uk-margin-small-right"></i> User Registration
                      </div>                                 
                      <div class="uk-card-body uk-padding-remove-top"> 
                          <div class="uk-form-label"> Name  </div>                                     
                          <input class="uk-input" type="text"> 
                          <div class="uk-form-label"> Last Name  </div>                                     
                          <input class="uk-input" type="email"> 
                          <div class="uk-form-label"> Email  </div>                                     
                          <input class="uk-input" type="text"> 
                      </div>  
      
                  </div>  
    <input class="uk-button uk-button-grey  uk-margin" type="submit" class="button" value="Save"> 
              </div>                         
              <div class="uk-width-1-2@m"> 
                  <div class="uk-card-small uk-card-default"> 
                      <div class="uk-card-header uk-text-bold"> 
                          <i class="fas fa-lock uk-margin-small-right"></i> Change password 
                      </div>                                 
                      <div class="uk-card-body uk-padding-remove-top"> 
                          <div class="uk-form-label"> Old password  </div>                                     
                          <input class="uk-input" type="text"> 
                          <div class="uk-form-label"> New password  </div>                                     
                          <input class="uk-input" type="text"> 
                          <div class="uk-form-label"> Confirm new password  </div>                                     
                          <input class="uk-input" type="text"> 
                      </div>                                 
                  </div>  
    <input class="uk-button uk-button-grey  uk-margin" type="submit" class="button" value="Save" style="text-align:center;"> 
              </div>                         
          </div>                     
          
      </div>                 
  </div>             
  </div> 