<div class="uk-section  uk-section-default"> 
  <div class="uk-container uk-align-center uk-margin-remove-bottom uk-position-relative"> 
      <div class="uk-margin-small" uk-grid> 
          <div class="uk-width-1-3@m uk-width-1-2@s uk-first-column"> 
              <a href="#" class="uk-link-heading uk-text-lead uk-text-bold"> <i class="fas fa-headphones"></i>  Listening App</a> 
              <div class="uk-width-xlarge tm-footer-description">A unique and beautiful collection of Motivational Videos that are all flexible and modular.</div>                         
          </div>                     
          <div class="uk-width-expand@m uk-width-1-2@s"> 
              <ul class="uk-list  tm-footer-list"> 
                  <li> 
                      <a href="#"> Browse Videos </a> 
                  </li>                             
                  <li> 
                      <a href="#"> Free Trials </a> 
                  </li>                             
                  <li> 
                      <a href="profile.html"> My Profile</a> 
                  </li>                             
                  <li> 
                      <a href="#"> Subscriptions</a> 
                  </li>                             
              </ul>                         
          </div>                     
          <div class="uk-width-expand@m uk-width-1-2@s"> 
              <ul class="uk-list tm-footer-list"> 
                  <li> 
                      <a href="#"> About us </a> 
                  </li>                             
                  <li> 
                      <a href="#"> Contact Us </a> 
                  </li>                             
                  <li> 
                      <a href="#"> Privacy   </a> 
                  </li>                             
                  <li> 
                      <a href="#">   Policy </a> 
                  </li>                             
              </ul>                         
          </div>                     
          <div class="uk-width-expand@m uk-width-1-2@s"> 
              <ul class="uk-list  tm-footer-list"> 
                  <li> 
                      <a href="#">Topic 1</a> 
                  </li>                             
                  <li> 
                      <a href="#">Topic 2  </a> 
                  </li>                             
                  <li> 
                      <a href="#"> Topic 3 </a> 
                  </li>                             
                  <li> 
                      <a href="#">  Topic 4 </a> 
                  </li>                             
              </ul>                         
          </div>                     
      </div>                 
      <hr>
     <div class="uk-margin-small" uk-grid> 
          <div class="uk-width-1-2@m uk-width-1-2@s uk-first-column"> 
              <p class="uk-text-small"><i class="far fa-copyright"></i> 2019 <span class="uk-text-bold">Listening App</span> . All rights reserved.</p> 
          </div>                     
          <div class="uk-width-1-3@m uk-width-1-2@s"> 
              <a href="#" class="uk-icon-button uk-link-reset" uk-tooltip="title: Our Youtube Chanal; pos: top-center"><i class="fab fa-youtube" style=" color: #fb7575  !important;"></i></a>
              <a href="#" class="uk-icon-button uk-link-reset" uk-tooltip="title: Our Facebook; pos: top-center"><i class="fab fa-Facebook" style=" color: #9160ec  !important;"></i></a>
              <a href="#" class="uk-icon-button uk-link-reset" uk-tooltip="title: Our Instagram; pos: top-center"><i class="fab fa-Instagram" style=" color: #dc2d2d  !important;"></i></a>
              <a href="#" class="uk-icon-button uk-link-reset" uk-tooltip="title: Our linkedin; pos: top-center"><i class="fab fa-linkedin " style=" color: #6949a5  !important;"></i></a>
              <a href="#" class="uk-icon-button uk-link-reset" uk-tooltip="title: Our google-plus; pos: top-center"><i class="fab fa-google-plus" style=" color: #f77070 !important;"></i></a>
              <a href="#" class="uk-icon-button uk-link-reset" uk-tooltip="title: Our Twitter; pos: top-center"><i class="fab fa-twitter" style=" color: #6f23ff !important;"></i></a>
          </div>                     
      </div>                 
  </div>             
</div>         
