    <!-- PreLoader -->
    <div id="spinneroverlay">
      <div class="spinner"></div>
    </div>
    <!-- Nav for  mobile  -->
    <div id="tm-mobile" class="uk-modal-full uk-modal" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-text-center uk-flex" uk-height-viewport>
        <button class="uk-modal-close-full uk-close uk-icon" type="button" uk-close></button>
        <div class="uk-margin-auto-vertical uk-width-1-1">
          <div class="uk-child-width-1-1" uk-grid>
            <div>
              <div class="uk-panel">
                <ul class="uk-navbar-nav toolbar-nav">
                  <li *ngFor="let  item of this.menuItem" [ngClass]="item.isActive? 'active' : ''">
                    <a  routerLink="['{{item.url}}']"> {{item.label}}</a></li>
                </ul>
              </div>
            </div>
            <div>
              <div class="uk-panel widget-text" id="widget-text-1">
                <div class="textwidget">
                  <p class="uk-text-center"><a class="uk-button uk-button-success uk-button-large" href="#"> Start now
                    </a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar   -->
    <div class="tm-header uk-visible@m tm-header-transparent uk-margin-top">
      <div uk-sticky media="768" animation="uk-animation-slide-top" cls-active="uk-navbar-sticky uk-nav-dark"
        sel-target=".uk-navbar-container"
        top=".tm-header ~ [class*='uk-section'], .tm-header ~ * > [class*='uk-section']"
        cls-inactive="uk-navbar-transparent   uk-dark" class="uk-sticky uk-navbar-container">
        <div class="uk-container  uk-position-relative">
          <nav class="uk-navbar uk-navbar-transparent">
            <!-- logo -->
            <div class="uk-navbar-left">
              <a href="#" class="uk-logo"><i class="fas fa-headphones"></i> Listening App</a>
            </div>
            <!-- right navbar  -->
            <div class="uk-navbar-right">
              <ul class="uk-navbar-nav toolbar-nav">
                <li *ngFor="let  item of this.menuItem" [ngClass]="item.isActive? 'active' : ''">
                  <a routerLink="{{item.url}}" href="javascript:void(0);" (click)="menuClick(item.url)">{{item.label}}</a></li>
              </ul>
            </div>


          </nav>
        </div>
      </div>
    </div>

<router-outlet></router-outlet>
<app-footer-component></app-footer-component>

 <!-- button scrollTop -->         
<button id="scrollTop" class="uk-animation-slide-bottom-medium"> 
  <a href="#" class="uk-text-white" uk-totop uk-scroll></a> 
</button>    