<div class="container">
  <div class="card card-login login-form-wrapper">
    <div class="card-header"><span>Login</span></div>
    <div class="card-body">
      <form class="" [formGroup]="loginForm">
        <div>
          <am-textbox label="Email" name="email" [form]="loginForm" placeholder="Email" [isRequiredField]="true" [autoFocus]="true"></am-textbox>

          <am-textbox type="password" label="Password" name="password" [form]="loginForm" placeholder="Password" [isRequiredField]="true"></am-textbox>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onLogin()">Sign In</button>
        <a [routerLink]="['/forgot-password']" class="forget-password float-right">Forgot Password?</a>
      </form>
    </div>
  </div>
</div>