<div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-flex uk-flex-middle">
  <div class="uk-width-2-3@m uk-width-1-2@s uk-margin-auto  border-radius-6 ">
    <div class="uk-child-width-1-2@m uk-background-grey uk-grid-collapse" uk-grid>
      <div class="uk-text-middle uk-margin-auto-vertical uk-text-center uk-padding-small uk-animation-scale-up">
        <p> <i class="fas fa-headphones uk-text-white" style="font-size:60px"></i> </p>
        <h1 class="uk-text-white uk-margin-small"> Listening App </h1>
        <h5 class="uk-margin-small uk-text-muted uk-text-bold uk-text-nowrap"> The Place You can here. </h5>
      </div>
      <div>
        <div class="uk-card-default uk-padding uk-card-small">
          <div class="uk-card-default uk-padding uk-card-small">
            <router-outlet></router-outlet>
          </div>
        </div>

      </div>
    </div>
  </div>