<div class="admin-content-inner"> 
  <div class="uk-background-default uk-position-relative uk-box-shadow-medium"> 
      <h5 class="uk-padding-small uk-margin-remove uk-text-bold  uk-text-left"> Your Videos </h5> 
     <hr class="uk-margin-remove"> 
      <div class="uk-padding-small" uk-grid> 
          <div class="uk-width-2-3@m uk-visible@m"> 
             <video loop muted>
<source src="{{this.tempData.public_url}}" type="video/mp4"></video> 
  <h5 class="uk-margin-top"> {{this.tempData.description}} </h5> 
                  <ul class="uk-list uk-text-small"> 
                    <li  class="fa fa-eye" style="padding-left:30px;"> {{this.tempData.views}} Views <i onclick="myFunction(this)" class="fa fa-thumbs-up" style="padding-left:30px;"> 100 Likes</i></li>                                 
                                                   
              </ul>                             
          </div>                         
          <div class="uk-width-expand"> 
                                         
                                         
              <div class="uk-width-3-3@m uk-visible@m"> 
              <video loop muted>
<source src="../../assets/videoes/movie.mp4" type="video/mp4"></video> <h5 class="uk-margin-top"> Build Responsive Websites </h5> 
                   <p class="uk-margin-top"> 20k Views </p> 
            

 </div>
 
 <div class="uk-width-3-3@m uk-visible@m"> 
             <video loop muted>
<source src="../../assets/videoes/movie.mp4" type="video/mp4"></video> <h5 class="uk-margin-top"> Build Responsive Websites </h5> 
                    <p class="uk-margin-top"> 120k Views </p>     
 </div>
 <div class="uk-width-3-3@m uk-visible@m"> 
              <video loop muted>
<source src="../../assets/videoes/movie.mp4" type="video/mp4"></video> <h5 class="uk-margin-top"> Build Responsive Websites </h5> 
                   <p class="uk-margin-top"> 200k Views </p>    
 </div>
                        
      </div>                     
      </div>                     
      <hr> 
     </div>                 
  </div>   