   
<!-- forget tab -->                          
  <div id="login" class="tabcontent tab-default-open animation: uk-animation-slide-right-medium"> 
        <form #form="ngForm" (ngSubmit)="onForgotPassword(form)"> 
      <h2 class="uk-text-bold"> Forget password  </h2>
      <p class="uk-text-muted uk-margin-remove-top uk-margin-small-bottom">to reset your password fill inter your email</p>
      <div>				

          <!-- <div class="uk-form-label">Email address</div> -->
          <div class="uk-inline">
              <span class="uk-form-icon"><i class="fas fa-lock icon-medium"></i></span> 
              <input type="text" class="uk-input uk-form-width-large" id="email" placeholder="name@example.com" 
              name="email" email required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              ngModel #email="ngModel" autofocus>
              <div *ngIf="email.errors && email.touched">
                  <small style="color: red;font-weight: bold" *ngIf="email.errors.required">Email is Required.</small>
                  <small style="color: red ;font-weight: bold " *ngIf="email.errors.pattern">Email format is invalid.</small>
              </div>
              <!-- <input class="uk-input uk-form-width-large" placeholder="name@example.com" type="text"> -->
          </div>
    
      </div>
      <div class="uk-margin">   
          <input class="uk-button uk-button-success" type="submit"   [disabled]="!form.valid"  value="Reset password"> 
      </div>
      <span class="uk-text-small">
          Not registered?  
          <a href="javascript:void(0);" class="tablinks"  [routerLink]="['/registartion']" > Create account  </a>
          Or
          <a href="javascript:void(0);" class="tablinks"  [routerLink]="['/login']"> Sign in  </a> 
      </span>
  </form>                            
  </div>
