  <!-- sidebar -->         
  <div class="admin-side" id="admin-side"> 
      <a href="#" class="admin-logo"><i class="fas fa-graduation-cap"></i> Listening</a> 
      <ul data-simplebar> 
          <li> 
              <a href="javascript:void(0);" routerLink="/dashboard"> <i class="fas fa-user"></i> Dashboard  </a>
          </li> 
          <ul class="uk-accordion" uk-accordion> 
              <li class="uk-open"> 
                  <a href="category.html" class="uk-accordion-title"> <i class="fas fa-book-open"></i> Category </a> 
                  <div class="uk-accordion-content uk-margin-remove-top" aria-hidden="false" *ngFor="let menuobj of this.videoCategoryList"> 
                      <a href="javascript:void(0);" routerLink="/dashboard">{{menuobj.title}}</a> 
                      <!-- <a href="category.html">Category 2</a> 
                      <a href="category.html">Category 3</a>  -->
                  </div>                         
              </li>                     
                                 
          </ul>           
                         
          <li> 
              <a href="user.html"> <i class="fas fa-user"></i> Users  </a>
          </li>                 
                          
          <li> 
              <a href="javascript:void(0);" routerLink="/profile"> <i class="fas fa-user"></i> edit profile    </a>
          </li>   
          <li> 
                <a href="javascript:void(0);" routerLink="/viewvideo/:1"> <i class="fas fa-user"></i> Video  </a>
            </li>                 
                
          <li> 
              <a href="javascript:void(0);" (click)="onLogoutUser()"> <i class="fas fa-user"></i> Logut </a>
          </li>                 
      </ul>             
  </div>  

   <!-- mobile  header -->         
 <div class="admin-mobile-headder uk-hidden@m"> 
    <span uk-toggle="target: #admin-side; cls: admin-side-active" class="uk-padding-small uk-text-white uk-float-right"><i class="fas fa-bars"></i></span> 
    <a class="uk-logo" href="index.html"> <i class="fas fa-graduation-cap"> </i> Listening </a> 
</div>         
<!-- main contant -->   