.wrap-card-content {
    display: flex;
    justify-content: center;
    .card{
        height: 180px;
        width: 180px;
        display: inline-flex;
        justify-content: center;
        border-radius: 0;
        border: 0;
        margin: 5px 5px;
        cursor: pointer;
        .card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            span{
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
}