<div class="container-fluid martop20px">
    <h2 class="page-title">Home</h2>
    <div class="row">
        <div class="col-sm-12">
            <div class="wrap-card-content">
                <div class="card text-white bg-primary" (click)="goToUserPage()">
                    <div class="card-body">
                        <span>Users</span>
                    </div>
                </div>
                <!-- <div class="card text-white bg-success" (click)="goToOrganizationPage()">
                    <div class="card-body">
                        <span>Organizations</span>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>